@use '../../assets/styles/colors';

.input-field {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;

  &__label {
    margin-bottom: 10px;
  }

  &__input {
    height: 45px;
    padding: 15px;
    font-size: 14px;
    background-color: colors.$color-white;
    border: 0;
    outline: none;
  }
}
