$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);

$color-dark-blue: rgb(55, 0, 60);
$color-dark-blue2: rgb(36, 0, 38);
$color-dark-blue-shadow: rgba(55, 0, 60, 0.3);

$color-dark-burgundy: rgb(150, 56, 73);

$color-sub-text: rgb(117, 134, 156);

$color-background: rgb(246, 249, 252);
$color-background1: rgb(170, 172, 175);

$color-flat-grey1: rgb(229, 229, 229);
$color-flat-grey2: rgb(149, 149, 149);
$color-flat-grey3: rgb(212, 218, 231);

$color-element-hover: rgba(0, 0, 0, 0.04);

$color-green: rgb(1, 166, 111);
$color-red: rgb(255, 0, 0);
