$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);

$color-yellow: rgb(228, 182, 35);
$color-light-yellow: rgb(237, 204, 117);

$color-sub-text: rgb(117, 134, 156);

$color-background: rgb(246, 249, 252);
$color-background1: rgb(170, 172, 175);

$color-flat-grey1: rgb(229, 229, 229);
$color-flat-grey2: rgb(149, 149, 149);

$color-element-hover: rgba(0, 0, 0, 0.04);
